/* .projets-container{
    text-align: center;
    grid-template-columns: 200px 200px 200px ;
    gap: 1rem;
}


.projets-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  gap:  10px;
  /* margin-top: 200px; */

/* } */
/* 
.projets{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 200px;
}

.projets-container img{
  width: 25%;
  margin-left: 240px;
}

.projets-container1 img{
  width: 35%;
}

.projet2{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.projets-container2 img{
  width: 100%;
  margin-left: 100px;
} */

/* .projets-container3 img{
  width: 25%;
} */ 

.container {
  display: flex;
  flex-direction: column; /* Affichage en colonne */
}

.projets,
.projet2 {
  display: flex;
  justify-content: space-around; /* Alignement des éléments */
}

.projets-container,
.projets-container1,
.projets-container2,
.projets-container3 {
  width: 20%; /* Largeur de chaque conteneur */
  padding: 10px;
}

img {
  max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas de son conteneur */
}



  /* Styles pour les smartphones */
  
  @media screen and (max-width: 767px) {
    .video-container {
      text-align: center;
    }
    .video-container video {
      max-width: 100%;
      height: auto;
    }
    .projet-2,
    .projet-3 {
      text-align: center;
    }
    .projet-2 img,
    .projet-3 img {
      max-width: 100%;
      height: auto;
      width: 80%; /* Ajustez la largeur selon vos besoins */
    }
  }
  