*{
    margin: 0;
    padding: 0;
    box-sizing:content-box; /*definir la largeur et la hauteur total*/
    box-sizing: border-box;
    font-family: sans-serif;
}
/*body{
    background-color:#2a5bcf42;
    width: 80%;
    max-width: 1400px;
    display: block;
    margin: 0 auto;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}*/

/*body*/

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background: rgba(65, 55, 20, 0.393);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box{
    height: 86vh;
    width: 75%;
    padding:  0 20px;
    background-color: #5c460ae8;
    z-index: 10;
    border: 2px solid #9550e90c;
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}
/*home*/

.acceuil_introduction{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    color: #fff;
}
.lien_group{
    list-style: none; /*definir tout les styles en meme temps*/
    display: flex;
}
.lien a{
    color:#fff;
    padding: 10px 30px;
    margin:0 10px;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 30px;
    transition: .5s;
    opacity: 0.5;
}
.lien a:hover,.lien.active a{
    opacity: 1;
}
 

.home{
   position: relative; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 50%;
   margin-top:2%;
   padding-left: 80px;
}

.home .section-1{
    position: relative;
    width: 80%;
}

.home .section-1 h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #e9d011;
    font-style: italic;
}
  
.home .section-1 h3{
    font-size: 20px;
    color: #6f34fe;
    margin-bottom: 10px;
}

.home .section-1 p{
    font-size: 20px;
    color: #1717e9;
    margin-bottom: 50px;
}

.home .btn{
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #6f34fe;
    border: 3px solid #6f34fe;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    color: #fff;
}

.home .btn:hover{
    background-color: #fff;
    color: #6f34fe;
}


/*.home .section-2::after{
    content: '';
    position: absolute;
    background-color: #6f34fe;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    z-index: -2;
    top: 5%;
    left: 100%;
}*/


.section-2{
    width:  200%;
    height: 100%;
    position: absolute;
    bottom: 80px;
    left: -300px;
}
.section-2 img{
    height: 100%;
    position: absolute;
    left: 100%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}
.section-2 .girl{
    height: 42%;
    border-radius: 55%;
}
.section-2 .color{
    height: 70%;
}
.section-2:hover .color{
    bottom: 50px;
}

.section-2:hover .girl{
    bottom: 45%;
}

@media screen and (max-width: 767px) {
    .lien_group {
      display: none; /* Masquer la navigation */
    }
    
    .section-1 {
      font-size: 16px; /* Réduire la taille de la police */
    }
    
    .girl, .color {
      max-width: 100%; /* Redimensionner les images pour s'adapter à l'écran */
    }
  }